# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Pandas</li>
<li>Matplotlib</li>
</ol>

| Data Science Tools |
|:--------:|
|Apache Spark|
|TensorFlow|
|PyTorch|

### Below are a few examples of evaluating arithmetic expressions in Python

In [28]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [29]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives**
<ul>
<li>NumPy</li>
<li>Pandas</li>
<li>Matplotlib</li>
</ul>

## Author

Yelizaveta Otroshchenko